body {background-color:#B01100; background-image: url(xmass.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}

span {color: white;
}

button {background-color: red; color: #D4AF37; border-style: solid; border-color:green; border-radius: 5px}
